.main {
  background-color: azure;
}

nz-select {
  width: 300px;
  margin-left: 25%;
  // transform: translateX(-50%);
}

.info-chapter {
  font-size: 15px;
  color: rgb(78, 78, 78);
  margin-top: -15px;

  p {
    display: inline-block;
    margin-right: 20px;
  }
}
