<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Đọc truyện<span> trực truyến</span></h3>

    <p class="footer-links">
      <a href="/home" class="link-1">Trang chủ</a>

      <a href="/search">Lọc truyện</a>
    </p>

    <p class="footer-company-name">Đọc truyện © 2023</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>97 Man Thiện</span>TP.Thủ Đức - TP.Hồ Chí Minh</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+84 878.272.837</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@storyonline.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Về chúng tôi</span>
      Đây là dự án đọc truyện trực tuyến được chúng tôi xây dựng hoàn toàn miễn phí, hy vọng rằng bạn sẽ có những giấy phút giải trí cùng chúng tôi
    </p>

    <div class="footer-icons">
      <a href="#"><span nz-icon nzType="facebook" nzTheme="outline"></span></a>
      <a href="#"><span nz-icon nzType="twitter" nzTheme="outline"></span></a>
      <a href="#"><span nz-icon nzType="linkedin" nzTheme="outline"></span></a>
      <a href="#"><span nz-icon nzType="github" nzTheme="outline"></span></a>
    </div>
  </div>
</footer>
