<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">
      <div class="sidebar-logo" *ngIf="!isCollapsed">
        <a [routerLink]="['/welcome']">
          <img src="assets/img/logongang.png" alt="logo" />
        </a>
      </div>
      <div class="sidebar-logo-mini" *ngIf="isCollapsed">
        <a [routerLink]="['/welcome']">
          <img src="assets/img/logo-mini.png" alt="logo" />
        </a>
      </div>
    </div>

    <ul class="sidebar-menu scroll" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li class="sidebar-menu" nz-submenu nzOpen nzTitle="Cấu hình" nzIcon="setting">
        <ul class="sidebar-submenu">
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['setting/department']">Phòng ban</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['setting/employee']">Nhân viên</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['setting/topic']">Chủ đề</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="main_content">
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <div class="header-right">
          <span nz-dropdown [nzDropdownMenu]="menu">
            <span class="header-right-avatar">
              <img src="./../../../assets/img/logologin.png" alt="avatar" height="30" width="30" />
            </span>
            <span class="mr-3">{{ currentUser ? currentUser.username : '' }}</span>
          </span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item>
                <a [routerLink]="['/change-password']"> <span nz-icon nzType="edit" class="mr-1"></span> Đổi mật khẩu </a>
              </li>
              <li nz-menu-item>
                <a href="javascript:void(0)" (click)="logout()"> <span nz-icon nzType="logout" class="mr-1"></span> Đăng xuất </a>
              </li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
