<form nz-form #frmAdd="ngForm">
  <nz-row matDialogTitle>
    <nz-col nzSpan="24" class="text-header mb-4 text-center">
      {{ modalTitle | uppercase }}
    </nz-col>
  </nz-row>

  <div matDialogContent>
    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Tên truyện</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24" [nzErrorTip]="NOT_YET_STORYNAME">
            <input nz-input placeholder="Nhập tên truyện" [(ngModel)]="dataObject.name" name="name" required />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Tên gọi khác</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24">
            <input nz-input placeholder="Nhập tên gọi khác" [(ngModel)]="dataObject.otherName" name="otherName" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Tác giả</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24">
            <input nz-input placeholder="Nhập tác giả" [(ngModel)]="dataObject.author" name="author" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Đã hoàn thành</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24">
            <label nz-checkbox [(ngModel)]="dataObject.finished" name="finished"></label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Loại truyện</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24" [nzErrorTip]="NOT_YET_STORYTYPE">
            <nz-select
              required
              nzShowSearch
              [(ngModel)]="dataObject.type"
              name="type"
              nzPlaceHolder="Chọn loại truyện"
              [disabled]="dataObject && dataObject?.chapterCount > 0"
            >
              <nz-option *ngFor="let item of lstStoryType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Danh mục</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="24" [nzErrorTip]="NOT_YET_CATEGORY">
            <nz-select
              required
              nzMode="multiple"
              [(ngModel)]="dataObject.lstCategoryId"
              name="lstCategoryId"
              nzPlaceHolder="Chọn danh mục"
              [ngModelOptions]="{ standalone: true }"
            >
              <nz-option *ngFor="let item of lstCategory" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="8">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left" nzRequired>Ảnh đại diện</nz-form-label>
          <nz-form-control [nzSm]="22" [nzXs]="22">
            <input nz-input required placeholder="Nhập hình ảnh" name="image" type="file" (change)="onChangeFile($event)" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <img *ngIf="dataObject.avatar?.length > 0" [src]="dataObject.avatar" alt="avatar" height="100" width="auto" />
    </div>

    <div nz-row>
      <div nz-col [nzSpan]="24">
        <nz-form-item nzFlex>
          <nz-form-label [nzSm]="24" [nzXs]="24" class="text-left">Nội dung</nz-form-label>
          <nz-form-control [nzSm]="23" [nzXs]="24">
            <textarea rows="6" nz-input placeholder="Nhập nội dung" [(ngModel)]="dataObject.content" name="content"></textarea>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>

  <nz-row matDialogActions>
    <nz-col nzSpan="24" class="text-center">
      <button nzShape="round" nz-button nzType="default" (click)="closeDialog(0)" class="mr-2"><span nz-icon nzType="lock"></span>Đóng</button>
      <button nzShape="round" nz-button [disabled]="!frmAdd.form.valid || !dataObject.avatar || dataObject.avatar?.length  === 0" nzType="primary" (click)="onSave()">
        <span nz-icon nzType="save"></span>Lưu
      </button>
    </nz-col>
  </nz-row>
</form>
