<nz-card>
  <nz-row class="mt-2 text-center">
    <div nz-col [nzSpan]="24">
      <h1 class="text-center">{{ story.name }}</h1>
    </div>
  </nz-row>
  <nz-collapse>
    <nz-collapse-panel nzHeader="Tìm kiếm">
      <nz-row nzGutter="8" class="mt-3">
        <nz-col nzSpan="8">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.isDeleted" name="isDeleted" nzPlaceHolder="Chọn trạng thái">
            <nz-option *ngFor="let item of dataFilterStatus" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-col>

        <nz-col nzSpan="24" class="text-center mt-3">
          <button nzShape="round" nz-button (click)="loadData(true)" nzType="primary" nzGhost><span nz-icon nzType="search"></span>Tìm kiếm</button>
        </nz-col>
      </nz-row>
    </nz-collapse-panel>
  </nz-collapse>
  <nz-row class="mt-3">
    <button nzShape="round" class="mr-2" nz-button nzType="primary" (click)="clickAdd()"><span nz-icon nzType="plus"></span>Thêm mới</button>
  </nz-row>

  <nz-row class="mt-2">
    <nz-table nz-col nzSpan="24" #ajaxTable [nzData]="lstChapter" [nzLoading]="loading" [nzFrontPagination]="false" nzBordered>
      <thead>
        <tr>
          <th>Số chương</th>
          <th>Tên chương</th>
          <th>Lượt xem</th>
          <th>Ngày tạo</th>
          <th>Trạng thái</th>
          <th>Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td>{{ data.chapterNumber | number }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.viewCount | number }}</td>
          <td>{{ data.createdAt | date : 'dd/MM/yyyy HH:mm' }}</td>
          <td class="text-center" nzRight>
            <nz-tag class="tag-status" [nzColor]="'red'" *ngIf="data.isDeleted"> Ngưng hoạt động</nz-tag>
            <nz-tag class="tag-status" [nzColor]="'green'" *ngIf="!data.isDeleted">Đang hoạt động</nz-tag>
          </td>
          <td class="text-center" nzRight>
            <button nzShape="circle" (click)="clickDetail(data)" nz-tooltip nzTooltipTitle="Xem chi tiết" nz-button class="mr-1 mt-1 btn-primary">
              <span nz-icon nzType="eye"></span>
            </button>
            <button
              nzShape="circle"
              *ngIf="!data.isDeleted"
              (click)="clickEdit(data)"
              nz-tooltip
              nzTooltipTitle="Chỉnh sửa"
              nz-button
              class="mr-1 mt-1 btn-primary"
            >
              <span nz-icon nzType="edit"></span>
            </button>

            <button
              nzShape="circle"
              nz-button
              nz-tooltip
              nz-popconfirm
              nzShape="circle"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="onActive(data)"
              [nzTooltipTitle]="data.isDeleted == true ? 'Hoạt động lại' : 'Ngưng hoạt động'"
              [class]="data.isDeleted == true ? 'mr-1 btn-primary-active' : 'mr-1 btn-not-active'"
              [nzPopconfirmTitle]="'Bạn có chắc muốn ' + (data.isDeleted == true ? '[ Hoạt động lại ] ?' : '[ Ngưng hoạt động ] ?')"
            >
              <span nz-icon [nzType]="data.isDeleted == true ? 'play-circle' : 'stop'"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination
      class="mt-2"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="loadData()"
      (nzPageSizeChange)="loadData(true)"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      [nzPageSizeOptions]="lstPageSize"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total> Dòng {{ range[0] }} đến {{ range[1] }} trong tổng {{ total }} dữ liệu </ng-template>
  </nz-row>
</nz-card>
