<nz-card>
  <nz-collapse>
    <nz-collapse-panel nzHeader="Tìm kiếm">
      <nz-row nzGutter="6" class="mt-3">
        <nz-col nzSpan="6">
          <input nz-input [(ngModel)]="dataSearch.name" name="name" placeholder="Lọc tên" />
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.type" name="type" nzPlaceHolder="Chọn loại truyện">
            <nz-option *ngFor="let item of lstStoryType" [nzLabel]="item.name" [nzValue]="item.code"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.finished" name="finished" nzPlaceHolder="Chọn trạng thái">
            <nz-option nzLabel="Đang tiến hành" [nzValue]="false"></nz-option>
            <nz-option nzLabel="Đã hoàn thành" [nzValue]="true"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select [(ngModel)]="dataSearch.lstCateId" nzSize="default" nzMode="multiple" nzPlaceHolder="Chon danh mục">
            <nz-option *ngFor="let option of lstCate" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select nzShowSearch [(ngModel)]="dataSearch.sortBy" name="sortBy" nzPlaceHolder="Sắp xếp theo" class="mt-1">
            <nz-option *ngFor="let item of lstSortBy" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select nzShowSearch [(ngModel)]="dataSearch.orderBy" name="orderBy" nzPlaceHolder="Thứ tự sắp xếp" class="mt-1">
            <nz-option *ngFor="let item of lstOrderBy" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-col>
        <nz-col nzSpan="6">
          <nz-select nzShowSearch nzAllowClear [(ngModel)]="dataSearch.isDeleted" name="isDeleted" nzPlaceHolder="Chọn trạng thái" class="mt-1">
            <nz-option *ngFor="let item of dataFilterStatus" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
          </nz-select>
        </nz-col>

        <nz-col nzSpan="24" class="text-center mt-3">
          <button nzShape="round" nz-button (click)="searchData(true)" nzType="primary" nzGhost><span nz-icon nzType="search"></span>Tìm kiếm</button>
        </nz-col>
      </nz-row>
    </nz-collapse-panel>
  </nz-collapse>

  <nz-row class="mt-3">
    <button nzShape="round" class="mr-2" nz-button nzType="primary" (click)="clickAdd()"><span nz-icon nzType="plus"></span>Thêm mới</button>
  </nz-row>

  <nz-row class="mt-2">
    <nz-table
      nz-col
      nzSpan="24"
      #ajaxTable
      [nzData]="listOfData"
      [nzLoading]="loading"
      [nzFrontPagination]="false"
      nzBordered
      [nzScroll]="{ x: '2200px', y: null }"
    >
      <thead>
        <tr>
          <th nzLeft style="width: 100px">Ảnh đại diện</th>
          <th nzLeft style="width: 300px">Tên truyện</th>
          <th>Loại truyện</th>
          <th>Tên khác</th>
          <th>Tác giả</th>
          <th style="width: 500px">Nội dung</th>
          <th>Danh mục</th>
          <th>Lượt thích</th>
          <th>Lượt xem</th>
          <th>Đã hoàn thành</th>
          <th nzRight style="width: 200px">Trạng thái</th>
          <th nzRight style="width: 250px">Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ajaxTable.data">
          <td nzLeft>
            <img [src]="data.avatar" alt="avatar" style="height: 100px" />
          </td>
          <td nzLeft>{{ data.name }}</td>
          <td>{{ data.typeName }}</td>
          <td>{{ data.otherName }}</td>
          <td>{{ data.author }}</td>
          <td>{{ data.content | slice : 0 : 130 }}{{ data.content.length > 130 ? '...' : '' }}</td>
          <td>{{ data.lstCategoryName.join(', ') }}</td>
          <td>{{ data.favoriteCount | number }}</td>
          <td>{{ data.totalView | number }}</td>
          <td>{{ data.finished ? 'Hoàn thành' : 'Chưa hoàn thành' }}</td>
          <td class="text-center" nzRight>
            <nz-tag class="tag-status" [nzColor]="'red'" *ngIf="data.isDeleted"> Ngưng hoạt động</nz-tag>
            <nz-tag class="tag-status" [nzColor]="'green'" *ngIf="!data.isDeleted">Đang hoạt động</nz-tag>
          </td>
          <td class="text-left" nzRight>
            <button nzShape="circle" (click)="clickDetail(data)" nz-tooltip nzTooltipTitle="Xem chi tiết" nz-button class="mr-1 mt-1 btn-primary">
              <span nz-icon nzType="eye"></span>
            </button>
            <button
              nzShape="circle"
              *ngIf="!data.isDeleted"
              (click)="clickEdit(data)"
              nz-tooltip
              nzTooltipTitle="Chỉnh sửa"
              nz-button
              class="mr-1 mt-1 btn-primary"
            >
              <span nz-icon nzType="edit"></span>
            </button>

            <button
              nzShape="circle"
              nz-button
              nz-tooltip
              nz-popconfirm
              nzShape="circle"
              nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="onActive(data)"
              [nzTooltipTitle]="data.isDeleted == true ? 'Hoạt động lại' : 'Ngưng hoạt động'"
              [class]="data.isDeleted == true ? 'mr-1 btn-primary-active' : 'mr-1 btn-not-active'"
              [nzPopconfirmTitle]="'Bạn có chắc muốn ' + (data.isDeleted == true ? '[ Hoạt động lại ] ?' : '[ Ngưng hoạt động ] ?')"
            >
              <span nz-icon [nzType]="data.isDeleted == true ? 'play-circle' : 'stop'"></span>
            </button>
            <nz-badge *ngIf="!data.isDeleted" [nzCount]="data.chapterCount" [nzOffset]="[-10, 5]">
              <button
                (click)="navigateToChapter(data.id)"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Quản lý chương"
                nz-button
                class="btn-primary mr-1 mt-1"
              >
                <span nz-icon nzType="group"></span>
              </button>
            </nz-badge>
            <nz-badge *ngIf="!data.isDeleted" [nzCount]="data.commentCount" [nzOffset]="[-10, 5]">
              <button
                (click)="navigateToComment(data.id)"
                nzShape="circle"
                nz-tooltip
                nzTooltipTitle="Quản lý bình luận"
                nz-button
                class="btn-primary mr-1 mt-1"
              >
                <span nz-icon nzType="comment"></span>
              </button>
            </nz-badge>

            <button (click)="clickPrint(data)" nzShape="circle" nz-tooltip nzTooltipTitle="In truyện" nz-button class="btn-primary mr-1 mt-1">
              <span nz-icon nzType="printer"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <nz-pagination
      class="mt-2"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      [nzPageSizeOptions]="lstPageSize"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total> Dòng {{ range[0] }} đến {{ range[1] }} trong tổng {{ total }} dữ liệu </ng-template>
  </nz-row>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Ngưng hoạt động truyện" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent style="font-size: 18px">
      <p>
        Ngưng hoạt động truyện sẽ ngưng hoạt động chương truyện và bình luận tương ứng, lịch sử và yêu thích của người dùng có liên quan cũng sẽ bị
        ẩn.
      </p>
      <p>Bạn có chắn chắn muốn thực hiện ?</p>
    </ng-container>
  </nz-modal>
</nz-card>
