<div class="parent clearfix">
  <div class="bg-illustration">
    <!-- <img src="https://img.lovepik.com/element/40092/7270.png_860.png" alt="logo" /> -->

    <div class="burger-btn">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="login" style="margin-top: -80px !important">
    <div class="container">
      <h1>Quên mật khẩu</h1>

      <div *ngIf="!isConfirm" class="login-form">
        <form action="">
          <input type="email" placeholder="Email" [(ngModel)]="userForgot.email" name="email" />
          <input type="password" placeholder="Mật khẩu" [(ngModel)]="userForgot.password" name="password" />
          <input type="password" placeholder="Nhập lại mật khẩu" [(ngModel)]="userForgot.cfPassword" name="cfPassword" />

          <button type="submit" style="margin-top: 30px" [disabled]="!userForgot.password || !userForgot.email" (click)="onSubmit()">Xác nhận</button>
        </form>
      </div>

      <div *ngIf="isConfirm" class="login-form">
        <form action="">
          <input type="email" [disabled]="true" [(ngModel)]="userForgot.email" name="email" />

          <input placeholder="Nhập mã xác thực" [(ngModel)]="code" name="code" />

          <button type="submit" style="margin-top: 30px" [disabled]="!code" (click)="onConfirm()">Xác nhận</button>
        </form>
      </div>
    </div>
  </div>
</div>
