<div class="main">
  <nz-card style="width: 80%; margin-left: auto; margin-right: auto">
    <div>
      <h2>Danh sách Lịch Sử</h2>
      <div class="list-item">
        <div class="item" *ngFor="let item of listOfData">
          <img width="100%" height="100%" [src]="item.storyAvatar" alt="Image" style="border-radius: 20px" (click)="navigateToStory(item.storyId)" />
          <div class="border-text">
            <p>{{ item.storyName }}</p>
            <div style="font-size: 13px">
              <p>Thể loại : {{ item.storyTypeName }}</p>
              <p style="margin-top: -10px">Đang đọc : chương {{ item.chapterNumber }} {{ item.chapterName ? '. ' + item.chapterName : '' }}</p>
            </div>
            <button nz-button nzType="primary" nzDanger (click)="deleteHistory(item.id)">Xóa</button>
            <button nz-button nzType="primary" style="margin-left: 5px" (click)="navigateToChapter(item.storyId, item.chapterId)">Đọc tiếp</button>
          </div>
        </div>
      </div>
    </div>

    <nz-pagination
      class="mt-4"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      [nzPageSizeOptions]="lstPageSize"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total> truyện {{ range[0] }} - {{ range[1] }} trong tổng {{ total }} truyện </ng-template>
  </nz-card>
</div>
