<!-- <nz-content>
  <button nz-button nzType="primary">Primary Button</button>
  <nz-breadcrumb>
    <nz-breadcrumb-item>Home</nz-breadcrumb-item>
    <nz-breadcrumb-item>List</nz-breadcrumb-item>
    <nz-breadcrumb-item>App</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="inner-content">Content</div>
</nz-content> -->

<div class="main">
  <nz-card style="width: 80%; margin-left: auto; margin-right: auto">
    <div>
      <h2>Truyện đề cử</h2>
      <div class="card" style="border: 1px solid rgb(124, 124, 124)">
        <p-carousel [value]="lstTopProduct" [numVisible]="5" [numScroll]="1" [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <div class="product-item">
              <div class="list-item">
                <div class="item" style="width: 180px; height: 200px" (click)="navigateToStory(product.id)">
                  <img width="100%" height="100%" [src]="product.avatar" alt="Image" style="border-radius: 20px" />
                  <div class="border-text" style="width: 90%; font-size: 13px">
                    <p>{{ product.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div>
      <h2>Danh sách truyện</h2>
      <div class="list-item">
        <div class="item" *ngFor="let item of listOfData" (click)="navigateToStory(item.id)">
          <img width="100%" height="100%" [src]="item.avatar" alt="Image" style="border-radius: 20px" />
          <div class="border-text" nz-popover [nzPopoverContent]="contentTemplate" nzPopoverPlacement="rightTop">
            <p style="font-size: 16px">{{ item.name }}</p>
            <p style="margin-top: -5px; font-size: 14px">Thể loại : {{ item.typeName }}</p>
            <!-- <p style="margin-top: -10px; font-size: 14px">Danh mục : {{ item.lstCategoryName.join(', ') }}</p> -->
            <div style="margin-top: -10px">
              <p style="display: inline-block">
                <span nz-icon nzType="group" nzTheme="outline"></span> {{ (item.chapterCount ? item.chapterCount : 0) | number }}
              </p>
              <p style="display: inline-block; margin-left: 10px">
                <span nz-icon nzType="eye" nzTheme="outline"></span> {{ item.totalView | number }}
              </p>
              <p style="display: inline-block; margin-left: 10px; margin-right: 10px">
                <span nz-icon nzType="heart" nzTheme="outline"></span> {{ (item.favoriteCount ? item.favoriteCount : 0) | number }}
              </p>
              <p style="display: inline-block">
                <span nz-icon nzType="comment" nzTheme="outline"></span> {{ (item.commentCount ? item.commentCount : 0) | number }}
              </p>
            </div>
          </div>
          <ng-template #contentTemplate>
            <div>
              <div style="text-align: center">
                <h2>{{ item.name }}</h2>
                <p style="color: rgba(48, 48, 48, 0.595); margin-top: -17px">(Cập nhật lúc : {{ item.updatedAt | date : 'dd/MM/yyyy HH:mm' }} )</p>
              </div>
              <div>
                <div style="font-size: 17px; color: rgb(78, 78, 78)">
                  <p><span nz-icon nzType="user" nzTheme="outline"></span> Tác giả : {{ item.author ? item.author : 'Đang cập nhật' }}</p>
                  <p><span nz-icon nzType="solution" nzTheme="outline"></span> Tên khác : {{ item.otherName ? item.otherName : 'Không' }}</p>
                  <p><span nz-icon nzType="wallet" nzTheme="outline"></span> Tình trạng : {{ item.finished ? 'Đã kết thúc' : 'Đang tiến hành' }}</p>
                  <p><span nz-icon nzType="form" nzTheme="outline"></span> Thể loại : {{ item.typeName }}</p>
                  <p><span nz-icon nzType="hdd" nzTheme="outline"></span> Danh mục : {{ item.lstCategoryName?.join(', ') }}</p>
                  <p><span nz-icon nzType="group" nzTheme="outline"></span> Số chương : {{ (item.chapterCount ? item.chapterCount : 0) | number }}</p>
                  <p><span nz-icon nzType="eye" nzTheme="outline"></span> Lượt xem : {{ item.totalView | number }}</p>
                  <p>
                    <span nz-icon nzType="heart" nzTheme="outline"></span> Lượt thích : {{ (item.favoriteCount ? item.favoriteCount : 0) | number }}
                  </p>
                  <p>
                    <span nz-icon nzType="comment" nzTheme="outline"></span> Bình luận : {{ (item.commentCount ? item.commentCount : 0) | number }}
                  </p>
                </div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
      
    </div>

    <nz-pagination
      class="mt-4"
      [nzTotal]="total"
      [(nzPageIndex)]="pageIndex"
      [(nzPageSize)]="pageSize"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData(true)"
      [nzShowTotal]="rangeTemplate"
      nzShowSizeChanger
      [nzPageSizeOptions]="lstPageSize"
    >
    </nz-pagination>
    <ng-template #rangeTemplate let-range="range" let-total> truyện {{ range[0] }} - {{ range[1] }} trong tổng {{ total }} truyện </ng-template>
  

    <!-- ---------------------- bình luận --------------------- -->
    <h2 style="margin-top: 30px;margin-bottom: 10px;">Bình luận cộng đồng</h2>
  
    <div>
      <textarea rows="2" style="width: 90%" nz-input placeholder="Nhập bình luận" [(ngModel)]="currentComment" name="currentComment"></textarea>
      <span
        nz-icon
        nzType="send"
        nzTheme="outline"
        style="font-size: 25px; color: rgb(59, 59, 244); margin-bottom: 15px; margin-left: 15px; cursor: pointer"
        (click)="sendComment()"
      ></span>
    </div>
    <nz-list [nzDataSource]="lstComment" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
      <ng-template #item let-item>
        <nz-comment [nzAuthor]="item.username" [nzDatetime]="formatDate(item.createdAt)">
          <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.userAvatar"></nz-avatar>
          <nz-comment-content>
            <p>{{ item.content }}</p>
          </nz-comment-content>
          <!-- <nz-comment-action style="height: 20px !important"> -->
          <div style="color: rgba(54, 54, 54, 0.85); word-wrap: break-word; font-size: 13px; cursor: pointer">
            <p style="display: inline-block" (click)="feedbackComment(item.id)">Phản hồi</p>
            <p *ngIf="parentId === item.id" style="display: inline-block; margin-left: 10px" (click)="cancelFeedbackComment()">Huỷ</p>
          </div>
          <!-- </nz-comment-action> -->

          <ng-container *ngIf="item.__children__ && item.__children__.length">
            <ng-template ngFor let-child [ngForOf]="item.__children__">
              <nz-comment
                *ngIf="!child.isDeleted"
                [nzAuthor]="child.username"
                [nzDatetime]="formatDate(child.createdAt)"
                style="margin-top: -10px"
              >
                <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="child.userAvatar"></nz-avatar>
                <nz-comment-content>
                  <p>{{ child.content }}</p>
                </nz-comment-content>
              </nz-comment>
            </ng-template>
          </ng-container>

          <div *ngIf="parentId === item.id">
            <textarea
              rows="2"
              style="width: 90%"
              nz-input
              placeholder="Nhập bình luận"
              [(ngModel)]="currentFeedback"
              name="currentFeedback"
            ></textarea>
            <span
              nz-icon
              nzType="send"
              nzTheme="outline"
              style="font-size: 25px; color: rgb(59, 59, 244); margin-bottom: 15px; margin-left: 15px; cursor: pointer"
              (click)="sendFeedbackComment()"
            ></span>
          </div>
        </nz-comment>
      </ng-template>
    </nz-list>

    <nz-pagination
      class="mt-2"
      [nzTotal]="pagComment.total"
      [(nzPageIndex)]="pagComment.pageIndex"
      [(nzPageSize)]="pagComment.pageSize"
      (nzPageIndexChange)="loadComment()"
      (nzPageSizeChange)="loadComment(true)"
      [nzShowTotal]="rangeTemplate2"
      nzShowSizeChanger
      [nzPageSizeOptions]="pagComment.lstPageSize"
    >
    </nz-pagination>
    <ng-template #rangeTemplate2 let-range="range" let-total>
      Dòng {{ range[0] }} đến {{ range[1] }} trong tổng {{ total }} bình luận chính
    </ng-template>
  </nz-card>
</div>
